<!DOCTYPE html>
<html>
<head>
    <title>Active Users</title>
    <link rel="stylesheet" href='static/css/bootstrap.min.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>    
<body class ="color-bg">
    <h1>Active Users</h1>
    <table class="table ">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th> 
                <th>Session Expire</th>
                <th>Session Key</th>
            </tr>
            </thead>
            <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.session_expire}}</td>
                <td>{{ user.session_key}}</td>
            </tr>    
        {% endfor %}
    </tbody>
    </table>
    
</body>
</html>