<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href='static/css/base.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>    
<body class ="color-bg">
    <h1>Admin Dashboard</h1>
    <div class = "nav-bar">
        <div class = "option">
            <a href = "register-admin">Create Admin User</a>
        </div>
        <div class = "option">
            <a href = "active-users">View Active Users</a>
        </div>
        <div class = "option">
            <a href = "">Option 3</a>
        </div>
    </div>
</body>
</html>