{% load static from staticfiles %}
<html>

<head>
    <title>Create Account</title>
    {% load static %}
    <link href="{% static "/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "/css/pricing.css"%}" rel="stylesheet">
</head>

<body class ="color-bg">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">SOEN341 Library</h5>
          
      </div>

    <h1 align="center">Create Account</h1>


    <div style = "text-align: center; width: 100%">
        <form method="post" style = "display: inline-grid;">
            {% csrf_token %}
            {{ form }}
            <div style="padding-top: 10px">
            <input type="submit" value="Submit" class="btn btn-primary form-control">
        </div>
        </form>
    </div>
    
</body>

</html>